WAYFORPAY_MERCHANT_ACCOUNT=
WAYFORPAY_MERCHANT_SECRET=
WAYFORPAY_MERCHANT_DOMAIN=
ACCESS_TOKEN_SECRET=
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Upstash Redis (Vercel Storage)
KV_REST_API_URL=
KV_REST_API_TOKEN=
