@import "tailwindcss";

@theme inline {
  /* === Palette: Current === */
  --color-bg: #fffdf5;
  --color-bg-dark: #f5f0e6;
  --color-primary: #3b2314;
  --color-primary-dark: #2a1a0e;
  --color-accent: #d4bfb0;
  --color-accent-dark: #A0522D;
  --color-text: #2d2420;
  --color-text-light: #7a6b5d;
  --color-teal: #308e8e;
  --color-teal-dark: #2b5a74;

  --font-heading: var(--font-montserrat);
  --font-body: var(--font-inter);
  --font-logo: var(--font-mirra), cursive;
}

@theme {
  --breakpoint-sm: 414px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
}


.h-viewport {
  height: 100lvh;
}
